*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(248, 248, 248);

}

h1{
    text-align: center;
    margin-top: 60px;
    font-size: 2.8rem;
    color: #1877F2;
}

.container
{
    width: 400px;
    background-color: #fff;
    margin: auto;
    padding: 20px 15px 45px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0 , 10%), 0 8px 16px rgba(0, 0, 0 , 10%);
    border-radius: 7px;
    text-align: center;
  
}

.container p{

    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.container input{
    padding: 12px 20px;
    width: 100%;
    margin: auto;
    margin-bottom: 12px;
    outline: 0;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    background: transparent;
    text-align: left;
    
}

::placeholder{
    font-size: 16px;
    font-weight: 400 ;
    color: rgb(161, 160, 160);
    text-align: left;
}

.container button{
    padding: 8px 25px;
    width: 100%;
    font-size: 19px;
    border-radius: 5px;
    background-color: #1877F2;
    color: white;
    border: 0;
    outline: 0;
    font-weight: 600;
    margin-bottom : 12px;
    cursor: pointer;
}

.container .forgot
{
    font-size: 13px;
    color: #1877F2;
    text-decoration: none;
   padding: 15px 0 18px;
  

}

.container .signup
{
    font-size: 13px;
    color: #1877F2;
    text-decoration: none;
   padding: 15px 0 18px ;
 
}

.container span{
    color: #90949c;
}